<p>
  user-add works!
 </p> 

<form [formGroup]="myForm" #f="ngForm" (ngSubmit)="addNewUser(myForm)">

  <div>
    <label for="name">Name:</label>
    <input type="text" name="name"
      formControlName="name"
    >
    <div *ngIf="myForm.controls['name'].invalid && f.submitted">
      <span *ngIf="myForm.controls['name'].errors.required">
        Name is required!
      </span>

      <span *ngIf="myForm.controls['name'].errors.minlength">
         Name must be at least 3 characters long.
      </span>
    </div>
  </div>

  <div>
    <label for="surname">Surname:</label>
    <input type="text" name="surname" 
      formControlName="surname"
    >
    <span *ngIf="myForm.controls['surname'].invalid && f.submitted">
      Invalid surname
    </span>
  </div>

  <div>
    <label for="adress">Adress:</label>
    <input type="text" name="adress"
      formControlName="adress"
    >
  </div> 

  <button type="submit">Add user</button>
</form>