<p>
  user-add works!
 </p> 

<form #f="ngForm" (ngSubmit)="addNewUser(f)">

  <div>
    <label for="name">Name:</label>
    <input type="text" name="name"
      required minlength="3"
      [(ngModel)]="user.name"
      #name="ngModel"
    >
    <div *ngIf="name.invalid && f.submitted">
      <span *ngIf="name.errors.required">
        Name is required!
      </span>
      <span *ngIf="name.errors.minlength">
         Name must be at least 3 characters long.
      </span>
    </div>
  </div>

  <div>
    <label for="surname">Surname:</label>
    <input type="text" name="surname" 
      required
      [(ngModel)]="user.surname"
      #surname="ngModel"
    >
    <span *ngIf="surname.invalid && f.submitted">
      Invalid surname
    </span>
  </div>

  <div>
    <label for="adress">Adress:</label>
    <input type="text" name="adress"
      [(ngModel)]="user.adress"
    >
  </div> 

  <button type="submit">Add user</button>
</form>